
@font-face {
    font-family: 'alegreya';
    src: url('../assets/fonts/alegreyasans-light-webfont.eot');
    src: url('../assets/fonts/alegreyasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/alegreyasans-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/alegreyasans-light-webfont.woff') format('woff'),
         url('../assets/fonts/alegreyasans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
​
​
@font-face {
    font-family: 'alegreya';
    src: url('../assets/fonts/alegreyasanssc-black-webfont.eot');
    src: url('../assets/fonts/alegreyasanssc-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/alegreyasanssc-black-webfont.woff') format('woff'),
         url('../assets/fonts/alegreyasanssc-black-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
​
​
@font-face {
    font-family: 'alegreya';
    src: url('../assets/fonts/alegreyasans-lightitalic-webfont.eot');
    src: url('../assets/fonts/alegreyasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font../assets/alegreyasans-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/alegreyasans-lightitalic-webfont.woff') format('woff'),
         url('../assets/fonts/alegreyasans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
​
@font-face {
    font-family: 'alegreya';
    src: url('../assets/fonts/alegreyasanssc-blackitalic-webfont.eot');
    src: url('../assets/fonts/alegreyasanssc-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/alegreyasanssc-blackitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/alegreyasanssc-blackitalic-webfont.woff') format('woff'),
         url('../assets/fonts/alegreyasanssc-blackitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
​